body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#parent {
    width: 60vw;
    height: 30vh;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#child {
    width: 40vw;
    height: 20vh;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#grandchild {
    width: 20vw;
    height: 10vh;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    border-radius: 10px;
}